#loader {
  width: 150px;
  height: 150px;
  border: 10px rgba(174, 71, 71, 0.25) solid;
  border-radius: 50%;
  border-left-color: #ae2929;
  border-right-color: #ae2929;
  animation: spin 1.5s ease infinite;
}

#loader-main > i {
  margin: 0;
  padding: 0;

  position: relative;
  bottom: 100px;
  left: 42px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
