.github-main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.github-main > h1 {
  margin: 0;
  margin-top: 0.5em;
  font-size: 3em;
}

.github-btn {
  margin-top: 1em !important;
}
